body, html{
    height: 100%;

}


.home {
    background-image: url('https://image.freepik.com/foto-gratis/pistas-correr-estadio_53876-64707.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    font-size: 5vh;
    padding-top: 20%;
    height: 100%;
    width: 100%;
}